@{
    Layout = "_DashboardLayout";
    //ViewData["Title"] = "OrderPage";
}
<div class="block-content">
    <table class="table table-hover table-vcenter">
        <button type="button" class="btn btn-success mr-5 mb-5" data-toggle="modal" data-target="#modal-popout">
            <i class="fa fa-plus mr-5"></i>Tambah Keluhan
        </button>
        <thead>
            <tr>
                <th class="text-center" style="width: 50px;">#</th>
                <th>Keluhan</th>
                <th class="d-none d-sm-table-cell" style="width: 15%;">Status</th>
                <th class="text-center" style="width: 100px;">Balasan</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center" scope="row">1</th>
                <td>Listrik kamar 202 Lantai 3 Suka Jepret, mohon follow up nya !!!</td>
                <td class="d-none d-sm-table-cell">
                    <span class="badge badge-success">Selesai</span>
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-secondary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Edit">
                            <i class="si si-envelope-letter"></i>
                        </button>
                    </div>
                </td>

            </tr>
            <tr>
                <th class="text-center" scope="row">2</th>
                <td>Kapan jaringan internet bisa digunakan kembali ?</td>
                <td class="d-none d-sm-table-cell">
                    <span class="badge badge-warning">Menunggu</span>
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-secondary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Edit">
                            <i class="si si-clock"></i>
                        </button>
                    </div>
                </td>
            </tr>
          
        </tbody>
    </table>
</div>

<div class="modal fade" id="modal-popout" tabindex="-1" role="dialog" aria-labelledby="modal-popout" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-popout" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-content">
                    <div class="form-material">
                        <textarea class="form-control" id="material-textarea-large" name="material-textarea-large" rows="8" placeholder="Please add a comment"></textarea>
                        <label for="material-textarea-large">Masukan Keluhan Anda</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-alt-success" data-dismiss="modal">
                    <i class="fa fa-check"></i> Perfect
                </button>
            </div>
        </div>
    </div>
</div>